body {
  margin: 0;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}
